$fonts-path: '~assets/fonts';

@mixin font-face($font-name, $file-name, $font-weight) {
  @font-face {
    font-display: swap;
    font-family: quote($font-name);
    font-style: normal;
    font-weight: $font-weight;
    src:
      local(quote($font-name)),
      url("#{$fonts-path}/#{$font-name}/#{$file-name}.woff") format("woff"),
      url("#{$fonts-path}/#{$font-name}/#{$file-name}.woff2") format("woff2");
  }
}
